.App {
  font-family: Arial, sans-serif;
  text-align: left;
  color: #fff;
  background-color: #333;
  height: 150vh;
}
h1{
  margin: 0px;
  padding: 10px;
}
.files{
  color: #fff;
  margin-left: 20px;
  max-width: 250px;
  box-shadow: 0px 2px 4px 0px #fff;
  height: 93%;
}

.App ul{
  list-style: none !important;
  padding: 10px;
}

li {
  margin: 5px 0;
}